html,body{
  margin:0;
  padding:0;
}

section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  }

article{
  display:flex;
  background-color: lightblue;
  }

  img{
    width: 50%;
  
  }
